<!DOCTYPE html>
<html lang="en">
    <head> </head>
    <head>
        <title>Test Files</title>
    </head>
    <body>
        <h1>Test Images</h1>
        <h2>JPEG</h2>
        <a href="{{ site_url }}images/valid.jpeg">small jpeg</a>
        <a href="{{ site_url }}images/17mb.jpeg">large 17mb jpeg</a>
        <a href="{{ site_url }}images/24mb.jpeg">large 24mb jpeg</a>
        <a href="{{ site_url }}images/28mb.jpeg">larger 28mb jpeg</a>
        <a href="{{ site_url }}images/40mb.jpeg">larger 40mb jpeg</a>
        <h2>PNG</h2>
        <a href="{{ site_url }}images/PNG_Test.png">test png</a>
        <h2>SVG</h2>
        <a href="{{ site_url }}images/SVG_Test.svg">test svg</a>
        <h2>HEIC</h2>
        <a href="{{ site_url }}images/HEIC_GOOD.heic">good test heic</a>
        <h2>Invalid application/octet-stream</h2>
        <a href="{{ site_url }}images/HEIC_Test.heic">test heic - invalid content-type</a>
        <h2>Redirect (to valid jpeg image)</h2>
        <a href="{{ site_url }}will_redirect">will redirect</a>
        <h2>Cors (jpeg image)</h2>
        <a href="{{ site_url }}images/cors.jpeg">cors denied</a>
        <a href="{{ site_url }}images/cors_allowed.jpeg">cors allowed</a>
        <h2>Valid 240 Mega Pixel Image</h2>
        <a href="{{ site_url }}images/valid_240mp.jpeg">Valid 240 Mega Pixel Image</a>
        <h2>Invalid 256 Mega Pixel Image</h2>
        <a href="{{ site_url }}images/invalid_256mp.jpeg">Invalid 256 Mega Pixel Image</a>
        <h1>Test Videos</h1>

        <h2>video/avi</h2>
        <a href="{{ site_url }}images/file_example_AVI_1280_1_5MG.avi">avi</a>
        <h2>image/gif</h2>
        <a href="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExN2EyN2ZmYTdkMjJlY2RjMjllZWVhNzYyZWVhN2ZiNjYyZTRmZTBkMiZjdD1n/fQZX2aoRC1Tqw/giphy.gif">gif</a>
        <h2>video/x-m4v</h2>
        <a href="{{ site_url }}images/sample_960x540.m4v">x-m4v video</a>
        <h2>video/x-matroska (mkv)</h2>
        <a href="{{ site_url }}images/sample_640x360.mkv">mkv video</a>
        <h2>video/quicktime (mov)</h2>
        <a href="{{ site_url }}images/file_example_MOV_640_800kB.mov">mov video</a>
        <h2>video/mp4</h2>
        <a href="{{ site_url }}images/file_example_MP4_480_1_5MG.mp4">mp4 video</a>
        <h2>video/mpeg</h2>
        <a href="{{ site_url }}images/sample_960x540.mp4">mpeg-4 part-16 video</a>
        <h2>video/webm</h2>
        <a href="{{ site_url }}images/AI_generated_Video_Clip.webm">webm video</a>
        <h1>Invalid Video Formats</h1>
        <h2>video/x-msvideo</h2>
        <a href="{{ site_url }}images/file_example_XMSVIDEO_1280_1_5MG.avi">avi</a>

    </body>
</html>