<!DOCTYPE html>
<html lang="en">
    <head> </head>
    <head>
        <title>Test Files</title>
    </head>
    <body>
        <h1>Test Images</h1>
        <h2>JPEG</h2>
        <a href="{{ site_url }}images/valid.jpeg">small jpeg</a>
        <a href="{{ site_url }}images/17mb.jpeg">large 17mb jpeg</a>
        <a href="{{ site_url }}images/24mb.jpeg">large 24mb jpeg</a>
        <a href="{{ site_url }}images/28mb.jpeg">larger 28mb jpeg</a>
        <a href="{{ site_url }}images/40mb.jpeg">larger 40mb jpeg</a>
        <h2>PNG</h2>
        <a href="{{ site_url }}images/PNG_Test.png">test png</a>
        <h2>SVG</h2>
        <a href="{{ site_url }}images/SVG_Test.svg">test svg</a>
        <h2>HEIC</h2>
        <a href="{{ site_url }}images/HEIC_GOOD.heic">good test heic</a>
        <h2>Invalid application/octet-stream</h2>
        <a href="{{ site_url }}images/HEIC_Test.heic">test heic - invalid content-type</a>
        <h2>Redirect (to valid jpeg image)</h2>
        <a href="{{ site_url }}will_redirect">will redirect</a>
        <h2>Cors (jpeg image)</h2>
        <a href="{{ site_url }}images/cors.jpeg">cors denied</a>
        <a href="{{ site_url }}images/cors_allowed.jpeg">cors allowed</a>
        <h2>Valid 240 Mega Pixel Image</h2>
        <a href="{{ site_url }}images/valid_240mp.jpeg">Valid 240 Mega Pixel Image</a>
        <h2>Invalid 256 Mega Pixel Image</h2>
        <a href="{{ site_url }}images/invalid_256mp.jpeg">Invalid 256 Mega Pixel Image</a>
        <h2>Data-urls base64</h2>
        <h3>PNG</h3>
        <a href="{{ site_url }}data_url_png" >data-url png</a>
        <a href="{{ site_url }}data_url_dino_png" >data-url dinosaur png</a>
        <h3>JPEG</h3>
        <a href="{{ site_url }}images/17mb_jpeg.txt" >17MB jpeg</a>
        <a href="{{ site_url }}data_url_small_jpeg" >small jpeg</a>
        <h3>SVG</h3>
        <a href="{{ site_url }}data_url_svg" >svg</a>
        <a href="{{ site_url }}data_url_dog_svg" >dog svg</a>
        <a href="{{ site_url }}data_url_zog_svg" >zog svg</a>
        <h3>HEIC</h3>
        <a href="{{ site_url }}images/heic.txt" >heic</a>
        <h2>Data-urls URI-encoding</h2>
        <a href="{{ site_url }}uri_svg1" >URI-encoding svg1</a>
        <a href="{{ site_url }}uri_svg2_html" >URI-encoding svg1 html</a>
        <h2>Webp</h2>
        <a href="{{ site_url }}images/1.webp" >Webp image 1</a>
        <a href="{{ site_url }}images/2.webp" >Webp image 2</a>
        <h1>Test Videos</h1>
        <h2>video/avi</h2>
        <a href="{{ site_url }}images/file_example_AVI_1280_1_5MG.avi">avi</a>
        <h2>image/gif</h2>
        <a href="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExN2EyN2ZmYTdkMjJlY2RjMjllZWVhNzYyZWVhN2ZiNjYyZTRmZTBkMiZjdD1n/fQZX2aoRC1Tqw/giphy.gif">gif</a>
        <h2>video/x-m4v</h2>
        <a href="{{ site_url }}images/sample_960x540.m4v">x-m4v video</a>
        <h2>video/x-matroska (mkv)</h2>
        <a href="{{ site_url }}images/sample_640x360.mkv">mkv video</a>
        <h2>video/quicktime (mov)</h2>
        <a href="{{ site_url }}images/file_example_MOV_640_800kB.mov">mov video</a>
        <h2>video/mp4</h2>
        <a href="{{ site_url }}images/file_example_MP4_480_1_5MG.mp4">mp4 video</a>
        <a href="{{ site_url }}images/animation_ll38rerj.mp4">Demonstration mp4 video</a>

        <h2>video/mpeg</h2>
        <a href="{{ site_url }}images/sample_960x540.mpeg">mpeg-4 part-16 video</a>
        <h2>video/webm</h2>
        <a href="{{ site_url }}images/AI_generated_Video_Clip.webm">webm video</a>
        <h1>Thumbnails</h1>
        <a href="{{ site_url }}images/thumbnail_960x540.m4v">m4v thumbnail - cors * video</a>
        <h2>Lotti file application/json</h2>
        <a href="{{ site_url }}images/lottie.json">regular - lottie json animation</a>
        <a href="{{ site_url }}images/lottie_optimised.json">regular (optimised) - lottie json animation</a>
        <a href="{{ site_url }}images/jokely_lottie.json">Another regular lottie animation</a>
        <a href="{{ site_url }}images/invalid_lottie.json">malformed lottie</a>
        <a href="{{ site_url }}images/empty.json">empty lottie</a>
        <h1>Invalid Video Formats</h1>
        <h2>Incorrect MIMEType Mp4 returns content type avi</h2>
        <a href="{{ site_url }}images/mp4file.mp4">wrong mimetype for mp4</a>
        <h2>video/x-msvideo</h2>
        <a href="{{ site_url }}images/file_example_XMSVIDEO_1280_1_5MG.avi">video/x-msvideo</a>
        <h2>Redirect - video/mp4</h2>
        <a href="{{ site_url }}redirect_video">will redirect mp4 video</a>
        <h2>Cors - video/mp4</h2>
        <a href="{{ site_url }}images/cors_sample_960x540.mp4">cors mp4</a>
        <h2>403 Forbidden</h2>
        <a href="{{ site_url }}403route">403 forbidden</a>
        <h2>Oversized Video</h2>
        <a href="{{ site_url }}images/large_3840x2160.mp4">oversized video - mp4</a>
        <h1>Test Audio</h1>
        <h2>Valid Audio Formats</h2>
        <h1>WAV</h1>
        <h2>wav audio/wav</h2>
        <a href="{{ site_url }}audio/sample-6s.wav">regular - .wav</a>
        <h2>.Wave audio/wav</h2>
        <a href="{{ site_url }}audio/sample-6s.wave">regular - .wave</a>
        <h1>BWF (x-wav)</h1>
        <h2>x-wav audio/x-wav</h2>
        <a href="{{ site_url }}audio/32ch-44100-bwf.wav">regular x-wav .wav</a>
        <!-- missing .mp2, .mpa,.mpga -->
        <h1>MP3</h1>
        <h2>.mp3 audio/mp3</h2>
        <a href="{{ site_url }}audio/sample-12s.mp3">regular - .mp3</a>
        
        <!-- missing .mogg -->
        <h1>OGG</h1>
        <h2>.ogg audio/ogg</h2>
        <a href="{{ site_url }}audio/sample-ogg-1mg.ogg">regular - .ogg</a>
        <h2>.oga audio/ogg</h2>
        <a href="{{ site_url }}audio/sample-ogg-1mg.oga">regular - .oga</a>
        <h2>.spx audio/ogg</h2>
        <a href="{{ site_url }}audio/sample-ogg-1mg.spx">regular - .spx</a>
                
        <h1>AUDIO_MP4</h1>
        <h2>.mp4 audio/mp4</h2>
        <a href="{{ site_url }}audio/sample-mp4.mp4">regular - .mp4</a>
        <h2>.m4a audio/mp4</h2>
        <a href="{{ site_url }}audio/sample-m4a.m4a">regular - .m4a</a>
        <h2>.m4r Audio</h2>
        <a href="{{ site_url }}audio/sample-m4r.m4r">regular - .m4r</a>
        <h2>.m4v Audio</h2>
        <a href="{{ site_url }}audio/sample-m4v.m4v">regular - .m4v</a>
        <h1>M4A</h1>
        <h2>.m4b audio/x-m4a</h2>
        <a href="{{ site_url }}audio/sample-m4b.m4b">regular - .m4b</a>
        <h2>.m4p audio/x-m4a</h2>
        <a href="{{ site_url }}audio/sample-m4p.m4p">regular - .m4p</a>
        <h1>MPEG</h1>
        <h2>.mp2 audio/mpeg</h2>
        <a href="{{ site_url }}audio/sample3.mp2">regular mpeg .mp2</a>
        <h2>.webm Audio</h2>
        <a href="{{ site_url }}audio/webm_audio.webm">regular - audio .webm</a>
        <h2>NonValid and oversized Audio File</h2>
        <h2>Oversized .wav 53MB</h2>
        <a href="{{ site_url }}audio/8-channel-id_e4DaEEBI.wav">invalid - oversized - .wav</a>
        <h2>Incorrect mimetype for mp3 - MPEG</h2>
        <a href="{{ site_url }}audio/sample-12s-mpeg.mpeg">invalid - unexpected mime-type - .mpeg</a>
        <h2>Redirect (to valid wav audio file)</h2>
        <a href="{{ site_url }}redirect_audio">will redirect</a>
        <h2>Cors * (to valid wav audio file)</h2>
        <a href="{{ site_url }}audio/sample-6s-cors-allow.wav">Cors *</a>
        <h2>Cors restricted (to valid wav audio file)</h2>
        <a href="{{ site_url }}audio/sample-6s-cors-restricted.wav">Cors restricted</a>
        <h2>timeout .wav the correct response will return after 91seconds</h2>
        <a href="{{ site_url }}audio/timeout.wav">timeout .wav</a>
        <h2>invalid mimetype audio/whoopwhoop</h2>
        <a href="{{ site_url }}audio/invalid.mpeg">invalid .mpeg</a>

    </body>
</html>